.banner {
    width: $page_width;
    height: 476px;
    background-color: #e13301;
}

.banner-wrapper {
    width: $box_width;
    height: 476px;
    background-color: papayawhip;
    margin: 0 auto;
}