.footer-one {
    width: $page_width;
    height: 279px;
    background-color: #f5f5f5;
    border: 1px solid #e7e7e7;
}

.footer-one-wrap {
    width: $box_width;
    height: 279px;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.footer-two {
    width: $page_width;
    height: 225px;
    margin: 0 auto;
}